name: system

on:
  pull_request:
    branches: [main]
  
  workflow_dispatch:

defaults:
  run:
    shell: bash

jobs:
  test:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest]
        compiler: [ g++-12 ]
        include:
          - os: ubuntu-latest
            compiler: g++-12
            target: Linux

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v2

      - name: build
        run: |
          mkdir build
          cd build
          cmake ..
          make
          ./bin/system/blocking_example
          ./bin/system/concurrent_even_number_counting
          ./bin/system/non_blocking_example
          ./bin/system/async_delete
          ./bin/system/repeated_execution_example